#projects>p {
    padding: 0 10%;
}


#projects-container {
    margin: 0 auto;
    display: grid;
    justify-items: center;
    width: 80%;
    max-width: 950px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 820px) {
        grid-template-columns: 1fr;
        width: 100%;
    }
}