#about {
    padding: 0 1em;

    h2 {
        font-variant: petite-caps;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 40px;
    }

    p {
        padding: 0 5%;
        line-height: 1.6;
        max-width: 910px;
        margin: 0 auto;
    }   
    
    ul {
        padding: 0 5px;
        display: grid;
        justify-content: center;
        margin: 0 auto;

        li {
            list-style-type: none;
            width: 150px;
            margin: 0 auto;
            margin-bottom: 20px;
            font-size: 1.2em;

            img {
                height: auto;
                width: 100%;
                margin-bottom: 5px;
            }
            
        }
    }

    #about-lists {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(410px, auto));
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #technologies {
        grid-template-columns: repeat(auto-fill, 200px);
        max-width: 600px;
    }

    #tools {
        grid-template-columns: repeat(auto-fill, 150px);
        max-width: 400px;

        li {
            width: 125px;
        }
    }

    @media screen and (max-width: 400px) {
        #about-lists {
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        }
    }
}

