@font-face {
    font-family: 'Segoe UI';
    src: url('../files/segoeui.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../files/segoeuisl.ttf');
    font-weight: 400;
}

html {
	margin-top: 90px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root, .App {
	height: calc(100vh - 90px);
}

.App {
	text-align: center;
}

main {
    padding: 0 1em;

    h1 {
        font-size: 2.5em;
        margin-top: 0;
        padding-top: 20px;
        font-variant: petite-caps;
        font-weight: 500;
    }
}




